.otp-input input {
  width: 50px !important;
  height: 50px !important;
  font-size: 24px !important;
  text-align: center !important;
  margin: auto;
  border: 1px solid #ced4da !important;
  border-radius: 5px !important;
}
