/* .chatbot-all {
} */
#chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  height: 60px;
  width: 60px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
  background: #1f2054;
  border-radius: 50%;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.2s ease;
}
#chatbot-toggler span {
  position: absolute;
  color: #fff;
}
.chatbot-container.show-chatbot #chatbot-toggler {
  transform: rotate(90deg);
}
#chatbot-toggler span:last-child,
.chatbot-container.show-chatbot #chatbot-toggler span:first-child{
  opacity: 0;
}
.chatbot-container.show-chatbot #chatbot-toggler span:last-child{
  opacity: 1;
}
.chatbot-popup {
  margin-bottom: 10px;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  bottom: 90px;
  right: 35px;
  width: 420px;
  transform: scale(0.2);
  overflow: hidden;
  background: #fff;
  border-radius: 20px;
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}
.chatbot-container.show-chatbot .chatbot-popup {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}
.chatbot-popup .chat-header {
  display: flex;
  padding: 15px 22px;
  align-items: center;
  justify-content: space-between;
  background: #1f2054;
}
.chat-header .header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-info svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  fill: #1f2054;
  background: #fff;
  border-radius: 50%;
}
.header-info .logo-text {
  color: #fff;
  font-size: 1.31rem;
  font-weight: 600;
}
.chat-header button {
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.9rem;
  padding-top: 2px;
  border-radius: 50%;
  margin-right: -10px;
  background: none;
  transition: 0.2s ease;
}
.chat-header button:hover {
  background: #000144;
}
.chat-body {
  display: flex;
  flex-direction: column;
  height: 460px;
  margin-bottom: 82px;
  overflow: auto;
  padding: 25px 22px;
  scrollbar-width: thin;
  scrollbar-color: #cccce5 transparent;
}
.chat-body .message {
  display: flex;
  gap: 11px;
  align-items: center;
}
.chat-body .message.error .message-text{
  color: #ff0000;
}
.chat-body .bot-message svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  fill: #fff;
  align-self: flex-end;
  margin-bottom: 22px;
  background: #1f2054;
  border-radius: 50%;
}
.chat-body .message .message-text {
  padding: 12px 16px;
  max-width: 75%;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 0.95rem;
}
.chat-body .bot-message .message-text {
  background: #f6f2ff;
  border-radius: 13px 13px 13px 3px;
}
.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}
.chat-body .user-message .message-text {
  background: #1f2054;
  color: #fff;
  border-radius: 13px 13px 3px 13px;
}
.chat-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 15px 22px 20px;
}
.chat-footer .chat-form {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 32px;
  outline: 1px solid #cccce5;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
}
.chat-footer .chat-form:focus-within {
  outline: 2px solid #1f2054;
}
.chat-form .message-input {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  height: 47px;
  padding: 0 17px;
  font-size: 0.95rem;
}
.chat-form button {
  height: 35px;
  width: 35px;
  border: none;
  display: none;
  outline: none;
  cursor: pointer;
  font-size: 1.15rem;
  color: #fff;
  flex-shrink: 0;
  margin-right: 6px;
  border-radius: 50%;
  background: #1f2054;
  transition: 0.2 ease;
}
.chat-form button:hover {
  background: #000144;
}
.chat-form .message-input:valid ~ button {
  display: block;
}
